{% extends 'Base.html' %}

{% block title %}
<h1>{{obj.name}}</h1>
{% endblock %}

{% block content %}

<style>
    .ingredient-form {
        border-bottom: 1px solid black;
    }
</style>
{% if message %}
<h2>{{message}}</h2>
{% endif %} 
<form method='POST'>
    {% csrf_token %}
    {% for field in form %} 
    <div class='{% if field.field.required %}{{ form.required_css_class }}{% endif %}'>
        {{ field.label_tag }} {{ field }}
    {% if field.help_text %} 
    {{ field.help_text|safe }}
    {% endif %} 
    </div>
    {% endfor %}
    {% if formset %}
    <h3>Ingredients</h3>
    {{ formset.management_form }}
    {% for form in formset %} 
    <div class='ingredient-form'>
        {{ form.as_p}}
    </div>
    {% endfor %}
    {% endif %}
    <button type='Submit'>Save</button>
</form>
<h3><a href='../'>Back</a></h3>
{% endblock %}
