{% extends 'Base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<style>
    .ingredient-form {
        border-bottom: 1px solid black;
    }
    .hidden {
        display: none
    }
</style>

<div style='margin-top:30px;' class="row">
    <div class="{% if obj.id %} col-12 col-md-8 {% else %} col-md-6 mx-auto{% endif %}">
        {% if not obj.id %}
            <h1>Create Recipe</h1>
        {% endif %}       
        {% include 'recipes/partials/forms.html' %}
    </div>

    <div class="{% if obj.id %} col-12 col-md-4 {% else %} d-none {% endif %}">
        <h3>Ingredients</h3>
        {% for ingredient in obj.get_ingredients_children %} 
            {% include 'recipes/partials/ingredient-inline.html' with object=ingredient %} 
        {% endfor %}
        {% if new_ingredient_url %}
        <div id='ingredient-create'>

        </div>
        <button hx-get='{{ new_ingredient_url }}' hx-trigger='click' hx-target='#ingredient-create' hx-swap='beforeend'>Add Ingredient</button>

        {% endif %}
        <p>Upload your Desired Image for this Recipe and Ingredients:</p>
        {% include 'recipes/partials/image-upload-form.html' %}

        </div>
</div>
<script>
    document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
    })

    function add_new_form(event) {
        if (event) {
            event.preventDefault() // we will no longer see a console log
        }
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        const currentFormCount = currentIngredientForms.length
        const formCopyTarget = document.getElementById('ingredient-form-list')
        // now add new empty form element to our html form
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        // reset the form class
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        // in order for it not to duplicate data
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEl)
    } 


</script>

{% endblock %}
