{% extends 'Base.html' %}

{% block title %}
<h1>{{obj.name}}</h1>
{% if obj.get_edit_url %} 
<small>
    <a href='{{obj.get_edit_url}}'>Edit</a>
    <a href='{{obj.get_delete_url}}' hx-post="{{ obj.get_delete_url }}"
     hx-confirm="Are you sure you want to delete {{ obj.name }}?" hx-trigger="click" hx-headers='{"X-CSRFToken": "{{ csrf_token}}"}'>Delete</a>
</small>
{% endif %} 

{% endblock %}

{% block content %}
<div hx-get='{{ obj.get_hx_url }}' hx-trigger='revealed'>
    <!--This is a defulat class: 'htmx indicator'-->
    <div class='htmx-indicator'>Loading...</div>
</div>
{% endblock %}
  